.mainContainer {
  display: flex;
  height: 100%;
  /*border: 2px solid red;*/
  justify-content: center;
  align-items: center;

}
input[type=checkbox]{
  margin-top: 3px;
}
.content {
  min-width: 500px;
  min-height: 500px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 37px 0 rgba(255, 255, 255, 0.49);
  padding: 1em;
}
